* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html > body {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 140rem;
  overflow-x: hidden;
}

/* Typography */
h1.heading {
  font-size: 4rem;
}

h2.heading {
  font-size: 3.5rem;
}

h3.heading,
.nav__link {
  font-size: 3rem;
}

h4.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

p.text-small {
  font-size: 1.8rem;
}

/* Buttons */
.default-text,
.btn.default-text {
  font-size: 2rem;
}

.btn.default-text {
  padding: 1rem 2rem;
}

/* Article */
.article__picture-xs {
  height: 20rem;
  max-height: auto;
  object-fit: cover;
}

@media only screen and (min-width: 576px) {
  .article__picture-sm {
    height: 100%;
    max-height: 100%;
  }
}

/* Sponsors */
.sponsor {
  margin: auto;
}

/* NavBar */
.act-hov-foc {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.nav-link.act-hov-foc {
  width: max-content;
}

.act-hov-foc::after {
  background-color: #fff;
  bottom: 20%;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.nav-link.act-hov-foc:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu {
  animation: fade_in 0.001s linear;
}

.menu.is_visible {
  display: none;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-sm {
  transition: transform 0.3s ease-in-out;
}

.open-search.search-sm {
  margin-top: 0;
  position: relative;
  transform: rotate(45deg);
  z-index: 100;
}

.search-tab {
  opacity: 0;
  transform: translateY(100vh);
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  z-index: 50;
}

.open-search-tab {
  background-color: black;
  display: block;
  height: 100vh;
  left: 0;
  margin: 0 auto;
  opacity: 1;
  padding-top: 10rem;
  top: 0;
  transform: translateY(0);
  visibility: visible;
  width: 100%;
}

#tab-wrapper {
  background-color: transparent;
  bottom: 0;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 60;
}

.search--field {
  z-index: 70;
}

.search input::placeholder,
.search-tab input::placeholder {
  color: rgb(186, 186, 186);
  font-size: 1.5rem;
  outline: 0;
}

.nav-list {
  background-color: black;
  height: 100vh;
  left: 0;
  padding: 1.5rem 0 0 2rem;
  top: 90%;
  width: 100vw;
  transition: transform 0.3s ease-out;
}

.nav-list_socials {
  bottom: 20%;
  left: 0;
  right: 0;
  width: 100vw;
}

.nav-list.hide_nav-list {
  transform: translateX(100%);
}

@media screen and (min-width: 992px) {
  .nav-list {
    height: fit-content;
    padding: 0;
  }

  .nav-list_socials {
    width: unset;
  }

  .nav-list.hide_nav-list {
    transform: translateX(0);
  }

  .open-search-tab {
    padding: 5rem 0;
    right: max(-40%, -700px);
    max-width: 500px;
    top: 20%;
    height: max-content;
  }

  #tab-wrapper {
    right: -200%;
    top: -70%;
    width: 300vw;
  }
}

/* Custom Styles */
.act-hov-foc:active,
.act-hov-foc:focus,
.act-hov-foc:hover {
  outline: 0;
}

.gap-2rem {
  gap: 2.5rem;
}

.gap-5rem {
  gap: 5rem;
}

.grid-auto-xs {
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.grid-3x3 {
  grid-template-columns: repeat(3, 1fr);
  max-width: fit-content;
  place-items: center;
}

.h-fit {
  min-height: fit-content;
}

.is_hidden {
  display: none;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-n1 {
  margin: 0 0 -0.5rem 0;
}

.mh-40 {
  max-height: 4rem;
}

.mh-50 {
  max-height: 5rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.mw-250 {
  max-width: 25rem;
}

.mw-300 {
  max-width: 30rem;
}

.mw-400 {
  max-width: 40rem;
}

.mw-700 {
  max-width: 70rem;
}

.mw-1400 {
  max-width: 140rem;
}

.my-7rem {
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-65 {
  opacity: 0.65;
}

.p-2rem {
  padding: 2rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.pb-10rem {
  padding-bottom: 10rem;
}

.pt-4rem {
  padding-top: 4rem;
}

.pb-xxs-3rem {
  padding-bottom: min(3%, 3rem);
}

.px-xxs-3rem {
  padding-left: min(3%, 3rem);
  padding-right: min(3%, 3rem);
}

.position-xs-absolute {
  position: absolute;
}

.w-fit {
  width: fit-content;
}

.w-xs-100 {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 375px) {
  .d-xsm-flex {
    display: flex;
  }

  .mt-xsm-5 {
    margin-top: 0.5rem;
  }

  .pb-xs-3rem {
    padding-bottom: 3rem;
  }

  .px-xs-3rem {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  .mt-sm-2rem {
    margin-top: 2rem;
  }

  .w-sm-none {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .mb-lg-55 {
    margin-bottom: 5.5rem;
  }

  .mt-md-4rem {
    margin-top: 4rem;
  }

  .pb-md-5rem {
    padding-bottom: 5rem;
  }

  .px-md-5rem {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .flex-1 > * {
    flex: 1;
  }

  .gap-x-auto {
    column-gap: min(10%, 50px);
  }

  .grid-auto-lg {
    gap: 2.5rem 2rem;
    grid-template-columns: repeat(11, 1fr);
  }

  .h-lg-300 {
    height: 30rem;
  }

  .mh-lg-60 {
    max-height: 6rem;
  }

  .mw-lg-400 {
    max-width: 40rem;
  }

  .p-lg-5rem {
    padding: 5rem;
  }

  .pb-lg-25 {
    padding-bottom: 2.5rem;
  }

  .px-lg-7rem {
    padding: 0 7rem;
  }

  .position-lg-unset {
    position: unset;
  }

  .w-lg-fit {
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .p-xl-3rem {
    padding: 3rem;
  }

  .p-xl-10rem {
    padding: 10rem;
  }
}
