* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html > body {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 160rem;
  overflow-x: hidden;
}

html body.modal-open {
  padding-right: 0 !important;
}

/* Typography */
h1.heading {
  font-size: 4rem;
}

h2.heading {
  font-size: 3.5rem;
  font-weight: 500;
}

h3.heading,
.nav__link {
  font-size: 3rem;
  font-weight: 500;
}

h4.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

p.text-small {
  font-size: 1.8rem;
}

/* Buttons */
.default-text,
.btn.default-text {
  font-size: 2rem;
}

.btn.default-text {
  padding: 1rem 2rem;
}

.article-navigation.btn.default-text {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 576px) {
  .article-navigation.btn.default-text {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  h2.heading {
    font-size: 3rem;
  }

  h3.heading,
  .nav__link {
    font-size: 2.5rem;
  }

  h4.heading {
    font-size: 3rem;
    font-weight: 500;
  }
}

/* Article */
.article__picture-xs {
  height: 20rem;
  max-height: auto;
  object-fit: cover;
}

.media-body {
  max-width: 50rem;
}

.article__body {
  max-width: 50ch;
}

.is_blurred {
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(3px);
}

.modal__picture {
  height: 30rem;
}

body.modal-open main {
  filter: blur(5px);
}

.modal .modal-dialog {
  max-width: 600px;
}

@media only screen and (min-width: 576px) {
  .article__picture-sm {
    height: 100%;
    max-height: 100%;
  }
}

/* Sponsors */
.sponsor {
  margin: auto;
}

/* NavBar */
.nav-bar {
  overflow-x: hidden;
}

.act-hov-foc {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.nav-link.act-hov-foc {
  width: max-content;
}

.act-hov-foc::after {
  background-color: #fff;
  bottom: 20%;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.nav-link.act-hov-foc:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu {
  animation: fade_in 0.001s linear;
}

.menu.is_visible {
  display: none;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-sm {
  transition: transform 0.3s ease-in-out;
}

.open-search.search-sm {
  margin-top: 0;
  position: relative;
  transform: rotate(45deg);
  z-index: 100;
}

.search-tab {
  left: -100vw;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 50;
}

.open-search-tab {
  display: block;
  height: 100vh;
  left: 0;
  margin: 0 auto;
  opacity: 1;
  padding-top: 10rem;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
}

#tab-wrapper {
  background-color: transparent;
  bottom: 0;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 60;
}

.search--field {
  z-index: 70;
}

.search input::placeholder,
.search-tab input::placeholder {
  color: rgb(193, 193, 193);
  font-size: 1.5rem;
  outline: 0;
}

.nav-list {
  background-color: black;
  height: 100vh;
  left: 0;
  max-height: max-content;
  padding: 1.5rem 0 0 2rem;
  position: fixed;
  top: min(4%, 60px);
  transition: transform 0.3s ease-out;
  width: 100vw;
  z-index: 30;
}

.nav-list_socials {
  bottom: 20%;
  left: 0;
  right: 0;
  width: 100vw;
}

.nav-list.hide_nav-list {
  left: -200vw;
}

.fixed-scroll {
  position: fixed;
  width: 100vw;
}

@media screen and (min-width: 576px) {
  .nav-list {
    top: max(4%, 60px);
  }
}

@media screen and (min-width: 992px) {
  .nav-list {
    height: fit-content;
    padding: 0;
  }

  .nav-list_socials {
    width: unset;
  }

  .nav-list.hide_nav-list {
    transform: translateX(0);
  }

  .open-search-tab {
    border: 1px solid white;
    padding: 0 0 5rem;
    right: max(-45%, -600px);
    max-width: 400px;
    top: min(10%, 75px);
    height: max-content;
  }

  #tab-wrapper {
    height: 0;
    width: 0;
  }

  .open-search-tab #tab-wrapper {
    right: -200%;
    top: -50%;
    height: 100%;
    width: 300vw;
  }

  .fixed-scroll {
    position: relative;
  }
}

/* Hero */
.carousel-caption {
  bottom: -50%;
  left: 0;
  margin-bottom: 5rem;
  margin-top: -7rem;
  position: relative;
  right: 0;
}

.caption-text {
  margin: 0 auto;
  max-width: 40pc;
}

.carousel-icons {
  height: 3.5rem;
  width: 3.5rem;
}

@media screen and (min-width: 576px) {
  .carousel-caption {
    margin-bottom: 7rem;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption {
    margin-bottom: 10rem;
    margin-top: -8rem;
  }
}

@media screen and (min-width: 992px) {
  .carousel-caption {
    margin-bottom: 10rem;
    margin-top: -10rem;
  }

  .caption-text {
    margin: 0;
    text-align: start;
  }

  .navigators {
    bottom: -70px;
    top: auto;
    width: fit-content;
  }

  .carousel-control-prev {
    left: auto;
    right: 80px;
  }

  .carousel-control-next {
    right: 20px;
  }

  .carousel-control-prev-icon {
    background-image: url("/src/assets/icons/arrow-left.svg");
  }

  .carousel-control-next-icon {
    background-image: url("/src/assets/icons/arrow-right.svg");
  }
}

/* Custom Styles */
.btn.btn-outline-dark:hover {
  background-color: black;
}

.act-hov-foc:active,
.act-hov-foc:focus,
.act-hov-foc:hover {
  outline: 0;
}

.end-xs-0 {
  right: 0;
}

.gap-xxs-1rem {
  gap: 1.5rem;
}

.gap-2rem {
  gap: 2.5rem;
}

.gap-5rem {
  gap: 5rem;
}

.grid-auto-xs {
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.grid-3x3 {
  grid-template-columns: repeat(3, 1fr);
  max-width: fit-content;
  place-items: center;
}

.h-fit {
  height: fit-content;
}

.is_hidden {
  display: none;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mb-8rem {
  margin-bottom: 8rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-n1 {
  margin: 0 0 -0.5rem 0;
}

.mh-40 {
  max-height: 4rem;
}

.mh-50vh {
  max-height: 50vh;
}

.mh-50 {
  max-height: 5rem;
}

.mh-fit {
  max-height: fit-content;
}

.min-70 {
  min-width: 70px;
}

.mx-xxs-3rem {
  margin-left: min(3%, 3rem);
  margin-right: min(3%, 3rem);
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mw-250 {
  max-width: 25rem;
}

.mw-300 {
  max-width: 30rem;
}

.mw-400 {
  max-width: 40rem;
}

.mw-600 {
  max-width: 60rem;
}

.mw-700 {
  max-width: 70rem;
}

.mw-1200 {
  max-width: 1200px;
}

.mw-1400 {
  max-width: 140rem;
}

.mw-fit {
  max-width: fit-content;
}

.my-7rem {
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.object-cover {
  object-fit: cover;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-65 {
  opacity: 0.65;
}

.p-2rem {
  padding: 2rem;
}

.p-xxs-3rem {
  padding: 3rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.pb-10rem {
  padding-bottom: 10rem;
}

.pt-4rem {
  padding-top: 4rem;
}

.pb-xxs-3rem {
  padding-bottom: min(3%, 3rem);
}

.px-xxs-3rem {
  padding-left: min(3%, 3rem);
  padding-right: min(3%, 3rem);
}

.py-35 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

.position-xs-absolute {
  position: absolute;
}

.w-fit {
  width: fit-content;
}

@media screen and (min-width: 375px) {
  .d-xsm-flex {
    display: flex;
  }

  .gap-xsm-2rem {
    gap: 2.5rem;
  }

  .mt-xsm-5 {
    margin-top: 0.5rem;
  }

  .mx-xs-3rem {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .p-xs-4rem {
    padding: 4rem;
  }

  .p-xs-4rem {
    padding: 4rem;
  }

  .pb-xs-3rem {
    padding-bottom: 3rem;
  }

  .px-xs-3rem {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  .mt-sm-2rem {
    margin-top: 2rem;
  }

  .w-sm-none {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .mb-lg-55 {
    margin-bottom: 5.5rem;
  }

  .mh-md-450 {
    max-height: 450px;
  }

  .mt-md-4rem {
    margin-top: 4rem;
  }

  .mx-md-7rem {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .pb-md-5rem {
    padding-bottom: 5rem;
  }

  .px-md-5rem {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .border.border-lg-bottom-0 {
    border-bottom: 0 !important;
  }

  .end-lg-unset {
    right: unset;
  }

  .flex-1 > * {
    flex: 1;
  }

  .gap-lg-5rem {
    gap: 5rem;
  }

  .gap-x-auto {
    column-gap: min(10%, 50px);
  }

  .grid-auto-lg {
    gap: 2.5rem 2rem;
    grid-template-columns: repeat(11, 1fr);
  }

  .h-lg-300 {
    height: 30rem;
  }

  .mh-lg-60 {
    max-height: 6rem;
  }

  .mh-lg-600 {
    max-height: 600px;
  }

  .mt-lg-n19rem {
    margin-top: -19rem;
  }

  .mw-lg-400 {
    max-width: 40rem;
  }

  .p-lg-5rem {
    padding: 5rem;
  }

  .p-lg-7rem {
    padding: 7rem;
  }

  .pb-lg-7rem {
    padding-bottom: 7rem;
  }

  .pb-lg-25 {
    padding-bottom: 2.5rem;
  }

  .pb-lg-10rem {
    padding-bottom: 10rem;
  }

  .px-lg-7rem {
    padding: 0 7rem;
  }

  .position-lg-unset {
    position: unset;
  }

  .w-lg-fit {
    width: fit-content;
  }
}

@media screen and (min-width: 1200px) {
  .p-xl-3rem {
    padding: 3rem;
  }

  .p-xl-10rem {
    padding: 10rem;
  }

  .pb-xl-10rem {
    padding-bottom: 10rem;
  }

  .px-xl-10rem {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .py-xl-8rem {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
}
